:root {
    --list_name_color: #535353;
    --text_color: #e1dfdf;
    --primary: #0256aa;
}

body {
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(90deg, #0256aa, dodgerblue);
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
}

header {
    width: 100vw;
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 1vw;
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: -1;
}

/* Navigation of Lists */

nav {
    position: sticky;
    top: 0%;
    left: 0%;
    display: flex;
    justify-content: center;
    width: 25rem;
    min-height: 25vh;
    color: var(--text_color);
    /* background-color: red; */
}

#nav_items {
    width: 75%;
}

#nav_items h4 {
    font-weight: 900;
    letter-spacing: 1px;
}

#list_items {
    display: flex;
    flex-direction: column;
    min-height: 0rem;
    margin-bottom: 2.5%;
    transition: all 0.3s ease-out;
}

.list_item_wrapper {
    position: relative;
    left: 3%;
    width: 90%;
    min-height: 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.8rem;
    cursor: pointer;
}

.list_item_wrapper.active {
    font-weight: 600;
    font-size: 0.9rem;
}

.list_name_selector {
    padding: 0 0 0 5%;
    width: 100%;
    z-index: -1;
}

.list_item_wrapper .list_circle {
    width: 0.4rem;
    height: 0.4rem;
    border: 2px solid var(--text_color);
    border-radius: 50%;
    z-index: -1;
}

#add_list_wrapper {
    display: flex;
    height: 2.5rem;
}

#add_list_btn_wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 15%;
}

#add_list_btn_wrapper span {
    font-weight: bold;
    animation: button_bounce 1.25s ease-in-out 0s infinite alternate;
}

@keyframes button_bounce {
    from {
        translate: 0 0.15rem;
    }
    to {
        translate: 0 0;
    }
}

#list_name_wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

#list_name_wrapper input {
    width: 90%;
    padding: 0 0 4% 0;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #adadad;
    background: transparent;
    color: var(--text_color);
}

#list_name_wrapper input::-webkit-input-placeholder {
    color: var(--text_color);
    font-size: 0.75rem;
}

/* Section of tasks box */

section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

}

#list_content_container {
    position: relative;
    top: 2.5rem;
    width: 22.5rem;
    min-height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

#tasks_container {
    width: 100%;
    min-height: 15rem;
    background-color: var(--text_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.25);
}

.tasks_count_wrapper {
    background-color: #d9d8d8;
    color: #9e9d9d;
    width: 100%;
    min-height: 4rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tasks_count_wrapper h3 {
    margin-left: 4%;
    font-size: 1rem;
    color: var(--list_name_color);
}

.tasks_count_wrapper p {
    margin-right: 4%;
    font-size: 0.8rem;
}

.tasks_selectors_wrapper {
    padding: 2.5% 0 2.5% 0;
    width: 100%;
    min-height: 2.5rem;
    background-color: var(--text_color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task_selector {
    width: 80%;
    min-height: 3rem;
    display: flex;
    border-bottom: 1px solid #b6b6b6;
    cursor: pointer;
}

.task_selector .task_circle {
    width: 10%;
    display: flex;
    align-items: center;
}

.task_selector .task_circle div {
    width: 0.5rem;
    height: 0.5rem;
    border: 2px solid transparent;
    outline: 2px solid rgb(71, 71, 71);
    background-color: transparent;
    border-radius: 50%;
}

.task_selector .task_text {
    color: var(--list_name_color);
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.completed  {
    text-decoration: line-through;
    color: rgb(103, 103, 103);
    opacity: 0.7;
    transition: all 0.3s ease-out;
}

.completed .task_circle div {
    border: 2px solid white;
    outline: 2px solid var(--primary);
    background-color: var(--primary);
} 

.task_input_wrapper {
    width: 80%;
    min-height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 5% 0;
}

.task_input_wrapper span {
    position: relative;
    bottom: 0.25rem;
    right: 1%;
    font-size: 1.25rem;
    font-weight: 600;
}

.task_input_wrapper input {
    width: 90%;
    outline: none;
    border: none;
    border-bottom: 2px solid var(--list_name_color);
    background-color: transparent;
    padding: 0 0 2.5% 0;
    color: rgb(33, 33, 33);
}

.task_input_wrapper input:focus {
    border-bottom: 3px solid var(--list_name_color);
}

.task_input_wrapper input::-webkit-input-placeholder {
    color: #b6b6b6;
    font-size: 0.9rem;
}

.tasks_buttons {
    position: relative;
    left: 4%;
    width: 72.5%;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.task_button {
    cursor: pointer;
    color: var(--text_color);
    transition: all 0.1s ease-out;
}

.task_button:hover {
    color: var(--list_name_color);
}
