:root {
    --text_color: #e1dfdf;
}

body {
    margin: 0%;
    padding: 0%;
    background-image: linear-gradient(90deg, rgb(2, 86, 170), dodgerblue);
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

header {
    font-weight: 900;
    font-size: 4rem;
    letter-spacing: 1vw;
    color: rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: -1;
}

/* Navigation of Lists */

nav {
    position: fixed;
    left: 0%;
    top: 0%;
    display: flex;
    justify-content: center;
    width: 25rem;
    height: 100vh;
    color: var(--text_color);
}

#nav_items {
    width: 75%;
    position: relative;
    top: 5rem;
}

#nav_items h4 {
    font-weight: 900;
    letter-spacing: 1px;
}

#list_items {
    display: flex;
    flex-direction: column;
    min-height: 0rem;
    margin-bottom: 2.5%;
    transition: all 0.3s ease-out;
}

.list_item_wrapper {
    position: relative;
    left: 3%;
    width: 90%;
    min-height: 1.5rem;
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 0.8rem;
    /* background-color: red; */
}

.list_item_wrapper.active {
    font-weight: 600;
    font-size: 1rem;
}

.list_name_selector {
    padding: 0 0 0 5%;
    width: 100%;
    z-index: -1;
}

.list_item_wrapper .list_circle {
    width: 0.4rem;
    height: 0.4rem;
    border: 2px solid var(--text_color);
    border-radius: 50%;
    z-index: -1;

}

#add_list_wrapper {
    display: flex;
    height: 2.5rem;
}

#add_list_btn_wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 15%;
}

#add_list_btn_wrapper span {
    font-weight: bold;
    animation: button_bounce 1.25s ease-in-out 0s infinite alternate;
}

@keyframes button_bounce {
    from {
        translate: 0 0.15rem;
    }
    to {
        translate: 0 0;
    }
}

#list_name_wrapper {
    display: flex;
    align-items: flex-end;
    width: 100%;
}

#list_name_wrapper input {
    width: 90%;
    padding: 0 0 4% 0;
    border: none;
    outline: none;
    border-bottom: 1.5px solid #adadad;
    background: transparent;
    color: var(--text_color);
}

#list_name_wrapper input::-webkit-input-placeholder {
    color: var(--text_color);
    font-size: 0.75rem;
}